<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">

      <div class="form-group">
        <label for="title">Title</label>
        <input #name="ngModel" required [(ngModel)]="product.name" name="name" id="name" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">name is Required</div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input #price="ngModel" required [min]="0" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is required</div>
          <div *ngIf="price.errors.min">Price Should be higher than 0</div>
        </div>
      </div>


      <div class="form-group">
        <label for="category">Category</label>
        <select #category="ngModel" required [(ngModel)]="product.category" name="category" id="category" type="text" class="form-control">
          <option value=""></option>
          <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">Category is Required</div>
      </div>


      <div class="form-group">
        <label for="productImageUrl">Image Url</label>
        <input #productImageUrl="ngModel" url required [(ngModel)]="product.productImageUrl" name="productImageUrl" id="productImageUrl" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="productImageUrl.touched && productImageUrl.invalid">
          <div *ngIf="productImageUrl.errors.required">Image Url is Required</div>
          <div *ngIf="productImageUrl.errors.url">Should be valid Image Url</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <button *ngIf="id" (click)="delete()" type="button" class="btn btn-danger">Delete</button>
      <button *ngIf="!id" routerLink="/admin/manageproducts" type="button" class="btn btn-danger">Cancel</button>
    </form>

  </div>
  <div class="col-md-6">
   <app-product-card [product]="product" [show-actions]="false"></app-product-card>
  </div>
</div>